/**
 * @desc Manny Cooper's personal icarus dark style
 * @author MannyCooper
 * @date 2020-10-22
 */

/* Basic
---------------------------------------------------------------- */
// Color
$dark-blue = #0a84ff
$dark-green = #30d158
$dark-indigo = #5e5ce6
$dark-orange = #ff9f0a
$dark-pink = #ff375f
$dark-purple = #bf5af2
$dark-red = #ff453a
$dark-teal = #64d2ff
$dark-yellow = #ffd60a

$light-gray2 = rgb(174,174,178)
$light-gray3 = rgb(199,199,204)
$light-gray4 = rgb(209,209,214)
$light-gray5 = rgb(229,229,234)
$light-gray6 = rgb(242,242,247)

$dark-gray2 = rgb(99,99,102)
$dark-gray3 = rgb(72,72,74)
$dark-gray4 = rgb(58,58,60)
$dark-gray5 = rgb(44,44,46)
$dark-gray6 = rgb(28,28,30)

$dark-primary = $dark-pink
$card-background-color = #1d1d1f

body.dark
  background-color: black

.dark
  // Navbar
  .navbar
    background: linear-gradient(90deg, rgba(29,29,31,1) 0%, rgba(29,29,31,0.7) 50%, rgba(29,29,31,1) 100%) !important

  // Tag
  .widget .tags .tag:first-child
    background: $dark-gray5 !important
    color: $light-gray4 !important

  .widget .tags .tag:last-child
    background: $dark-gray4 !important
    color: $light-gray3 !important
  
  .tag:not(body)
    background-color: $dark-gray5 
    color: $light-gray4
  
  .tag:not(body).is-primary
    background-color: $dark-primary

  // Code Highlight (Edit on https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css)
  .hljs{display:block;overflow-x:auto;color:#abb2bf;background:#2c2c2e}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}

  .hljs .level-left
    color: white

  figure.highlight figcaption,
  figure.highlight .gutter
    background: $dark-gray4
  
  pre
    background-color: $dark-gray5 !important
  
  code
    background-color: $dark-gray5 !important

  pre code
    background-color: transparent !important

  .content table thead td, .content table thead th
    color: white !important

  .code-type
    color: grey !important

  pre .caption
    color: $dark-gray3
    background-color: $dark-gray4 !important

  .content blockquote
    background-color: $dark-gray5 !important
    border-left: $radius_small solid $dark-gray4 !important

  // Post Image
  .fill_dark
    visibility: visible

  .fill
    visibility: hidden

  .media-left .image .fill_dark
    border-radius: 15px

  .media-left .image .fill
    display: none

  .image .fill_dark
    object-fit: cover
    width: 100% !important
    height: 100% !important

  // License Box
  .box
    background-color: $dark-gray5 !important
    color: white

  a:hover
    color: white
  
  .footer
    background-color: $card-background-color
    color: white
  
  .pagination .pagination-link,
  .pagination .pagination-previous,
  .pagination .pagination-next
    background: $card-background-color
    color: white

  .pagination .pagination-link a, .pagination .pagination-ellipsis a, .pagination .pagination-previous a, .pagination .pagination-next a
    color: white

  .pagination .pagination-link.is-current
    background: $dark-primary !important

  .searchbox .searchbox-container
    background-color: $dark-gray5

  .searchbox .searchbox-input, .searchbox .searchbox-header
    background: $card-background-color

  .searchbox .searchbox-result-section,.searchbox .searchbox-body
    border-bottom: 1px solid $card-background-color

  .searchbox .searchbox-body
    border-top: 1px solid $card-background-color

  .searchbox .searchbox-close:hover
    background: $dark-gray5

  .searchbox .searchbox-result-item:not(.disabled):not(.active):not(:active):hover
    background-color: $card-background-color

  .input,
  .textarea,
  .select select
    background-color: $card-background-color
    border-color: $dark-gray5
    border-radius: $radius
    color: white

  .input:focus,
  .textarea:focus,
  .select select:focus,
  .input.is-focused,
  .textarea.is-focused,
  .select select.is-focused,
  .input:active,
  .textarea:active,
  .select select:active,
  .input.is-active,
  .textarea.is-active,
  .select select.is-active
    border-color: $dark-primary !important
    box-shadow: 0 0 0 !important

  input::placeholder
          color: $dark-gray2

  .help
    color: $dark-gray2

  .timeline
    border-left 1px solid $dark-gray5

  .timeline .media:before
    background $dark-gray5

  .timeline .media:last-child:after
    background $card-background-color

  a strong
  color: currentColor
  
  #dark-nav #dark-icon:before
    content: "\f0eb"
  
  .card
    background-color $card-background-color
    border-radius $radius
    color white
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.49)
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.49)
  
  .title
    color: white
  
  .menu-list.a
    color: #7a7a7a
  
  .menu-list a
    color: white
    border-radius: 15px
  
  .menu-list a.is-active
    background-color: $dark-gray5
    color: $dark-primary !important
  
  .menu-list a:hover
    background-color: $dark-gray5

  a.navbar-item:focus, .navbar-link:focus, a.navbar-item:focus-within, .navbar-link:focus-within, a.navbar-item:hover, .navbar-link:hover, a.navbar-item.is-active, .navbar-link.is-active
    background-color: $dark-gray5 !important
    color: $dark-primary
  
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6
    color white
  
  .navbar-item,
  .navbar-link
    color: white

  .el-input__inner,.el-textarea__inner
    background-color: $card-background-color
    border: 1px solid $dark-gray5
    color: white
  
  .el-input-group__append, .el-input-group__prepend
    background-color: $dark-gray5
    border: 1px solid $dark-gray5
    color: white

  .message.is-info
    background-color: #202326

  .message.is-info .message-header
    background-color: #00336b;

  .message.is-info .message-body
    color: #65a1e3

  .content p
    color: #dddddd
  //
  
  .el-input.is-active .el-input__inner, .el-input__inner:focus,.el-textarea__inner:focus
    border-color: $dark-primary
  
  .el-textarea__inner:hover,.el-input__inner:hover
    border-color: $dark-gray4
  
  .tk-preview-container[data-v-619b4c52]
    border: 1px solid $dark-gray5
  
  .el-button
    background: $dark-gray4
    border: 1px solid $dark-gray4
    color: white
  
  .el-button:focus, .el-button:hover
    color: $dark-primary
    border-color: $dark-primary
    background-color: $dark-gray4

  .card:hover
    .card-image a
      -webkit-filter: brightness(70%)
      filter:brightness(70%)