/**
 * @desc Manny Cooper's personal icarus style
 * @author MannyCooper
 * @date 2020-10-18
 */

/* Basic
---------------------------------------------------------------- */
$radius = 25px
$radius_small = 15px
// Font
$family-sans-serif = "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
$family-code = SF Mono,Meno,monospace

// Color
$blue = rgb(0,122,255)
$green = rgb(52,199,89)
$indigo = rgb(88,86,214)
$orange = rgb(255,149,0)
$pink = rgb(255,45,85)
$purple = rgb(175,82,222)
$red = rgb(255,59,48)
$teal = rgb(90,200,250)
$yellow = rgb(255,204,0)

$commentbg = RGB(255, 114, 134)

$primary= $pink
$info ?= $blue
$success ?= $green
$warning ?= $orange
$danger ?= $red

$gray = rgb(142,142,147)

$light-gray2 = rgb(174,174,178)
$light-gray3 = rgb(199,199,204)
$light-gray4 = rgb(209,209,214)
$light-gray5 = rgb(229,229,234)
$light-gray6 = rgb(242,242,247)

$dark-gray2 = rgb(99,99,102)
$dark-gray3 = rgb(72,72,74)
$dark-gray4 = rgb(58,58,60)
$dark-gray5 = rgb(44,44,46)
$dark-gray6 = rgb(28,28,30)

$background = #f5f5f7

// Background color(Light Mode)
$body-background-color = $background

$link = $primary
$link-hover = black
$menu-item-hover-background-color = $light-gray6
$menu-item-active-background-color = $light-gray6
$tag-background-color = $light-gray6
$button-border-color = $primary
$button-color = white
$button-hover-background-color = $red
$button-hover-border-color = $red
$button-hover-color = white
$button-active-background-color = $red
$button-active-border-color = $red
$button-active-color = white

.widget .tags .tag:first-child
    background: $light-gray6 !important
    color: $dark-gray4 !important

.widget .tags .tag:last-child
    background: $light-gray5 !important
    color: $dark-gray3 !important

// Code highlight frame color
pre
    background-color: #fafafa !important
    border-radius: $radius
    padding-bottom: 20px !important
    padding-left: 24px !important
    padding-right: 24px !important
    padding-top: 20px !important

.content pre
    white-space: pre-wrap !important       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap  /* Mozilla, since 1999 */
    white-space: -pre-wrap      /* Opera 4-6 */
    white-space: -o-pre-wrap    /* Opera 7 */
    word-wrap: break-word       /* Internet Explorer 5.5+ */

figure.highlight figcaption,
figure.highlight .gutter
    background: $light-gray6
    color: $dark-gray4

figure.highlight .highlight-body
    margin: 0.7rem

code
    border-radius: 8px
    margin: 2px
    padding: 0.25em 0.5em 0.25em !important
    background-color: #fafafa !important

pre code
    border-radius: 0px !important
    margin: 0px !important
    padding: 0px !important
    background-color: transparent !important

.code-type
    position: absolute
    margin-top: -15px
    right:3.9em
    font-size: .75rem
    color: darkgrey

pre .caption
    background-color: $light-gray6
    color: darkgrey !important
    margin-top: -20px
    border-radius: $radius $radius 0px 0px
    margin-right: -24px;
    margin-left: -24px
    padding-left: 15px
    margin-bottom: 18px
    padding-top: 2px
    padding-bottom: 2px
    font-weight: 500;
    font-family: 'Source Code Pro', monospace, 'Microsoft YaHei';


.content blockquote
    background-color: #fafafa !important
    border-left: $radius_small solid $light-gray6 !important
    border-radius: $radius_small
    box-shadow: 1px 5px 10px 0 rgba(0,0,0,0.05);

.caption
    color: #7a7a7a
    text-align: center

#busuanzi_value_site_uv
    color: $primary

.card-link
    color: inherit
    cursor: pointer

form .control .button
    background-color: $primary !important

.input:active, .input:focus
    box-shadow: none !important

// All card radius
.widget .menu-list .level
    border-radius: $radius

article.media .image img
    border-radius: $radius_small

.gallery-item img
    border-radius: $radius_small

// .order-2 .controller ~ .card .article .content .message.message-immersive
//     margin: 0 -1rem 1.5rem -1rem !important

.message.message-immersive
    border-radius: $radius_small !important
    // margin: 0 -1rem 0rem -1rem !important
    margin: 0 !important

.message
    border-radius: $radius_small !important
    
.message-header
    border-radius: $radius_small $radius_small 0 0 !important

.message-body
    border-radius: $radius_small !important

.message.is-info .message-header + .message-body
    padding: 0em 1.5em 1em !important

// Font
.title.is-3
    font-size: 32px
    line-height: 1.125
    font-weight: 700
    letter-spacing: .004em

.is-size-6
    margin-bottom: 5px

.menu-list a.is-active
    font-weight: 500

.order-2 .card-content
    padding: 2rem;

// Navbar float
.navbar-main
    // position: fixed !important
    // width: 100% !important
    position: sticky !important
    position: -webkit-sticky !important
    top: 0px

.section
    padding: 6.25em 1.5rem
    // margin-top: 45px

.navbar,
.navbar-menu
    -webkit-backdrop-filter: saturate(180%) blur(20px)
    backdrop-filter: saturate(180%) blur(20px)

.navbar
    background-color: rgba(255,255,255,0.7) !important

.navbar-main .navbar-menu
    background: transparent

.navbar-item
    margin: 4px !important
    padding: 9.5px !important

// Comment
.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover
    background-color: $commentbg !important;
    border-color: $commentbg !important;


.el-button--primary
    background-color: $primary !important;
    border-color: $primary !important;


.tk-action-link[data-v-8d454e16],.tk-action-icon[data-v-8d454e16] svg
    fill: $primary !important;
    color: $primary !important;


.el-input.is-active .el-input__inner, .el-input__inner:focus,.el-textarea__inner:focus
    border-color: $primary !important

// cover & thumbnail for light & dark
.fill_dark
    visibility: hidden

.fill
    visibility: visible

// .gallery-item.dark_img
//     display: none

// .gallery-item.light_img
//     display: block

// Fix toc
#toc
    top: 73px
    position: sticky
    z-index: 5

// Fix footpoint redirection position
:target::before 
    content: ""
    display: block
    height: 5.25rem
    margin: -5.25rem 0 0
    padding-top: 73px

.footnote-ref a:target::before 
    display: inline-block !important

// Image gallery
.lg-backdrop.in
    background-color: rgba(1,1,1,0.5) !important
    -webkit-backdrop-filter: blur(8px)
    backdrop-filter: blur(8px)

// Email subscribe
.help
    color: $light-gray2

// Fix article-meta (auto warp on small screen)
.article-meta.level.is-mobile .level-left
    flex-wrap: wrap
    max-width: 100%

.article-meta.level.is-mobile .level-item:not(.is-narrow)
    flex-grow: 0 !important

// Responsive
@media screen and (max-width: 768px)
    .section
        padding: 1.5rem 0.5rem !important
        .is-size-4-mobile
            font-size: 2rem !important
        .columns
            margin-left: -0.45rem
            margin-right: -0.45rem
            margin-top: -0.55rem

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6
    font-weight: bold !important

@media screen and (min-width: 1088px)
    .container
        max-width: 1088px !important

@media screen and (min-width: 1280px)
    .container
        max-width: 1280px !important

@media screen and (min-width: 1472px)
    .container
        max-width: 1472px !important

.cc-window
    border-radius: $radius

.content p
    line-height: 1.8
    // color: #cbcbcb

/* Motion Design
---------------------------------------------------------------- */
// Navbar item
a.navbar-item:focus, .navbar-link:focus, a.navbar-item:focus-within, .navbar-link:focus-within, a.navbar-item:hover, .navbar-link:hover, a.navbar-item.is-active, .navbar-link.is-active
    border-radius: 18px
    background-color $background !important

// Widget item hover radius
.menu-list a:hover
    border-radius: $radius

// Card Image
.card:hover
    .card-image a
        -webkit-transform: scale(1.03)
        transform: scale(1.03)

.card .card-image a
    -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.25, 1),
    -webkit-transform 400ms cubic-bezier(0.4, 0, 0.25, 1),200ms -webkit-filter linear
    transition: opacity 1s cubic-bezier(0.4, 0, 0.25, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.25, 1),200ms filter linear

// Fix border radius when transforming
.card-image
    -webkit-transform: rotate(0deg)

// Tags
.tags.has-addons:hover, .menu-list .level.is-mobile:hover
    -webkit-transform translateY(-3px)
    transform: translateY(-3px)
    -webkit-transform: scale(1.03)
    transform: scale(1.03)

.tags.has-addons, .menu-list .level.is-mobile
    -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.25, 1),
    -webkit-transform 400ms cubic-bezier(0.4, 0, 0.25, 1)
    transition: opacity 1s cubic-bezier(0.4, 0, 0.25, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.25, 1)

// Card
.order-2 .card:hover
    transform: translateY(-5px)
    box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1)
    -webkit-transform: translateY(-5px)
    -webkit-box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1)

// Add .controller (article.jsx) to invalidate the motion on the article page
.order-2 .controller ~ .card:hover
    transform: none
    box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1)
    -webkit-transform: none
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1)

.card
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.6s !important

.card-link:hover
    color: inherit !important

// Base CSS framework
@import '../../include/style/base'
// Helper classes & mixins
@import '../../include/style/helper'
// Icarus components
@import '../../include/style/button'
@import '../../include/style/card'
@import '../../include/style/article'
@import '../../include/style/navbar'
@import '../../include/style/footer'
@import '../../include/style/pagination'
@import '../../include/style/timeline'
@import '../../include/style/search'
@import '../../include/style/codeblock'
@import '../../include/style/widget'
@import '../../include/style/donate'
@import '../../include/style/plugin'
@import '../../include/style/responsive'

.breadcrumb:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.pagination:not(:last-child),
.tabs:not(:last-child),
.box:not(:last-child),
.content:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.table:not(:last-child),
.table-container:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.block:not(:last-child),
.highlight:not(:last-child)
    margin-bottom: 1rem;

@import 'dark'